.app-container {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    justify-content: center;
    width: 100%;
}
