@use '@/styles/variables' as *;

.internet-explorer-container {
  align-items: flex-start;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
  .ie-header {
    background: #d2e0ed;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .25em .5em;
    gap: .25em;
  
    .button-group {
      display: flex;
      flex-direction: row;
      width: fit-content;
      gap: .25em;
      align-items: center;
  
      &:hover {
        cursor: pointer;
      }
  
      button {
        width: 2em;
        height: 2em;
        // TODO: refazer este gradiente
        background: linear-gradient(360deg, rgba(2, 229, 253, 1) 0%, rgba(1, 58, 98, 1) 68%, rgba(196, 209, 220, 1) 100%);;
        border-radius: 50%;
        color: #ffffff;
        filter: brightness(1.25);
  
        &:hover {
          cursor: pointer;
        }
      }
      
    }
  
    .query-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      // gap: .25em;

      input {
        font-size: 16px;
        padding: .15em .5em;

        width: 100%;
        
        &:focus {
          outline: none;
        }
      }

      .controller {
        display: flex;
        
        svg {
          background: #ffffff;
          padding: .25em .5em;
          outline: 1px solid #767676;
        }
      }
    }

    .url-container {
      flex: 2;
    }

    .search-container {
      flex: 1;
      margin-left: .5em;
    }
  }

}
