.loader-circle {
  border: 0.33em solid rgba(0, 22, 93, 0.1);
  border-bottom-color: rgba(0, 22, 93, 1);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 0.75s cubic-bezier(0, 0.63, 0.85, 0.33) infinite;
  margin: auto;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
