.file-explorer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .file-explorer-header,
  aside.file-explorer-side-menu,
  .file-explorer-footer {
    flex-shrink: 0;
  }

  .file-explorer-header {
    background: #d2e0ed;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
  }

  .file-explorer-content {
    display: flex;
    flex: 1;
    gap: 0.25em;
    height: auto;

    aside.file-explorer-side-menu {
      background: #fff;
      height: 100%;
      min-width: 14em;
      overflow-y: auto;
      width: -webkit-min-content;

      .side-menu-container:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

  .file-explorer-canvas {
    background: #ffffff;
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    gap: 0.5em;

    display: flex;

    .canvas-icon {
      padding: 0.75em 0;

      width: 10em;
      min-height: 7em;

      span {
        max-width: 6em;
      }
    }
  }

  .file-explorer-footer {
    align-items: flex-start;
    background: #f1f5fb;
    display: flex;
    justify-content: flex-start;
    margin: 0.25em 0.5em 0.5em 0.5em;
    padding: 0.5em;

    img {
      height: 4em;
      width: auto;
    }
  }
}
