.file-explorer {
  height: 96%;

  .file-explorer-header {
    background: #d2e0ed;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
  }
  
  .file-explorer-controller {
    align-items: center;
    background: #F8FBFF;
    background: linear-gradient(180deg,rgba(248, 251, 255, 1) 35%, rgba(223, 235, 248, 1) 65%);
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    width: 100%;

    span > svg {
      margin-top: .5em;
      &:hover {
        filter: brightness(1.15);
        cursor: pointer;
        transform: scale(1.15);
      }
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 1em;
      color: #213042 ;
      padding: .25em .5em;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 0.3em;
      height: 100%;

      &:hover {
        background: #cbd6e4;
      }
    }

    .controller-items,
    .controller-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: -webkit-fill-available;
      padding: 0 1em;
    }

    .file-explorer-controller-action {
      padding: .25em .5em;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;

        &:hover {
          filter: brightness(1.15);
        }
      }
    }

  }

  .file-explorer-content {
    height: 92%;
    display: flex;

    aside.file-explorer-side-menu {
      background: #fff;
      height: -webkit-fill-available;
      width: -webkit-max-content;
      overflow-y: auto;
      padding: .5em 0;

      .side-menu-item:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
}
