.btn-icon-text-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .75em;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid transparent;

  &:hover {
    background: #F7F8F8;
    background: linear-gradient(180deg,rgba(247, 248, 248, 1) 35%, rgba(229, 229, 229, 1) 65%);

    border: 1px solid #D9D9D9;
  }

  picture > img,
  picture > svg {
    width: 1.5em;
    height: 1.5em;
  }
}