@use 'variables' as *;

body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  img.disabled,
  .disabled,
  *:disabled {
    filter: grayscale(1) !important;
    cursor: not-allowed !important;
    
    &.disabled,
    &h1,
    &h2,
    &h3,
    &h4,
    &h5,
    &span,
    &p,
    &label,
    &a,
    &em,
    &b,
    &input,
    &button {
      filter: grayscale(1) opacity(0.65) !important;
    }
  }

}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap-md;
}

.vertical-line {
  background: #d2e0ed;
  height: 90%;
  left: 1.75em;
  position: absolute;
  width: 1px;
}
