// TODO: Add color variables
// $color-primary: #003366;
// $color-secondary: #f0f0f0;
// $color-text: #333;

// NOTE: Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;

// NOTE: Spacing
$spacing-xs: 0.25em;
$spacing-sm: 0.5em;
$spacing-md: 1em;
$spacing-lg: 2em;
$spacing-xl: 4em;

$gap-xs: 0.125em;
$gap-sm: 0.25em;
$gap-md: 0.5em;
$gap-lg: 1em;
$gap-xl: 2em;

$z-lowest: 0;
$z-low: 100;
$z: 200;
$z-high: 300;
$z-highest: 8000;

// NOTE: Transitions
$transition-default: all 0.3s ease-in-out;

// NOTE: SPECIALS

$fixed-menu-gradient: rgba(85, 117, 148, 0.5)
  linear-gradient(90deg, rgba(105, 177, 250, 0.31) 0%, rgba(220, 234, 250, 0.31) 68%, rgba(92, 167, 247, 0.9) 100%);

$icon-bright-gradient: #02e5fd
  linear-gradient(180deg, rgba(2, 229, 253, 1) 0%, rgba(1, 58, 98, 1) 68%, rgba(196, 209, 220, 1) 100%);
