.media-center-video-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .media-center-video-player {
    flex: 1;
    max-height: inherit;
  }
}
