.media-center-video-container {
    position: relative; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .media-center-video-player {
        width: 100%;
        height: 100%;
        flex: 1;
        object-fit: contain;
        transition: opacity 0.5s ease-in-out;
    }

    .video-loader-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background: #dedede;
    }
}
