@use '@/styles/variables' as *;

.fixed-menu {
    -webkit-backdrop-filter: blur(5px);

    align-items: center;
    backdrop-filter: blur(5px);
    background: $fixed-menu-gradient;
    border-radius: 5px;
    border-top: 2px solid rgba(16, 57, 100, 0.96);
    border: 1px solid rgba(62, 129, 201, 0.96);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 2.5em;
    padding: 0.5em 0;
    width: 100vw;

    .main-icon-container {
        margin-left: 1em;
    }

    img.main-icon {
        background: $icon-bright-gradient;
        border-radius: 50%;
        border: 1px solid rgb(14, 84, 134);
        height: 1.5em;
        padding: 0.5em;
        width: 1.5em;

        &:hover {
            border: 1px solid #02e5fd;
            box-shadow: 0 0 25px #02e5fd;
            cursor: pointer;
            filter: brightness(1.5);
            transform: scale(1.15);
            transition: $transition-default;
        }
    }

    div.menu-items-container {
        align-items: center;
        display: flex;
        gap: 1.5em;
        height: 100%;
        justify-content: flex-start;
        margin-left: 2em;

        div.menu-item {
            align-items: center;
            display: flex;
            justify-content: center;

            &:hover {
                cursor: pointer;
                filter: brightness(1.25);
                transform: scale(1.1);
                transition: $transition-default;
            }
        }

        img.menu-icon {
            height: 2.5em;
            width: auto;
        }
    }

    div.menu-widgets-container {
        justify-self: flex-end;
        margin-left: auto;
    }
}
