.fixed-menu {
    height: 2.5em;
    width: 100%;

    /* TODO: Criar arquivo para as variáveis CSS */
    background: rgba(85, 117, 148, 0.5)
        linear-gradient(
            90deg,
            rgba(105, 177, 250, 0.31) 0%,
            rgba(220, 234, 250, 0.31) 68%,
            rgba(92, 167, 247, 0.9) 100%
        );
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(62, 129, 201, 0.96);
}

.fixed-menu .menu-item {
    max-height: 100%;
}

.fixed-menu img.menu-icon {
    height: 1.5em;
    width: 1.5em;
    background: #02e5fd;
    background: linear-gradient(
        180deg,
        rgba(2, 229, 253, 1) 0%,
        rgba(1, 58, 98, 1) 68%,
        rgba(196, 209, 220, 1) 100%
    );
    padding: 0.5em;
    border-radius: 50%;
    border: 1px solid rgb(14, 84, 134);
}

.fixed-menu img.menu-icon:hover {
    cursor: pointer;
    box-shadow: 0 0 25px #02e5fd;
    transform: scale(1.15);
    filter: brightness(1.5);
    transition: all 0.3s ease-in-out;
    border: 1px solid #02e5fd;
}

.fixed-menu .menu-label {
}
