@import '@/styles/variables';

.icon-link-label {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    padding: $spacing-sm;
    text-align: center;
    text-decoration: none;
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
    position: relative;;
    
    &:hover {
        background: linear-gradient(180deg,rgba(121, 210, 247, .15) 0%,rgba(152, 229, 237, .35) 100%);
        border: 1px solid rgba(108, 201, 212, .9);
        cursor: pointer;
    }

    .icon-container {
        max-width: 7em;
    }

    .icon-image {
        padding: $spacing-xs;
        width: min-content;
        margin: 0 auto;
    }

    &.selected {
        background: linear-gradient(180deg,rgba(121, 210, 247, .2) 0%,rgba(152, 229, 237, .5) 100%);
        border: 1px solid rgba(108, 201, 212, .9);
    }
    
    .label {
        word-break: break-word;
    }
}