.window {
    background-color: #d2e0ed;
    border: 1px solid #8596a5;
    box-shadow: 3px 3px 18px 3px rgba(0, 0, 0, 0.333);
    -webkit-box-shadow: 3px 3px 18px 3px rgba(0, 0, 0, 0.333);
    overflow: hidden;
    position: absolute;

    .title-bar {
        display: flex;
        justify-content: center;
        justify-content: flex-end;
        padding: 0.25em;

        .title {
            flex-grow: 2;
        }

        .controls {
            align-items: center;
            display: flex;
            flex-shrink: 1;
            gap: 0.25em;
            justify-content: flex-end;

            button {
                background: none;
                border-radius: 0.25em;
                border: 1px solid #526475;
                padding: 0.08em 0.8em;

                &:hover {
                    background: #e1eaf3;
                    cursor: pointer;
                }
            }
        }
    }

    .content {
        height: 92%;
        width: 100%;
    }
}
